<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="libimobiledevice" value="https://ci.appveyor.com/nuget/libimobiledevice-1n0q2js2qu32" />
    <add key="libplist" value="https://ci.appveyor.com/nuget/libplist-4bcpbni5wf42" />
    <add key="libzip" value="https://ci.appveyor.com/nuget/libzip-98td8w3a5t6f" />
  </packageSources>
</configuration>