<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dirent" version="1.13.1" targetFramework="native" />
  <package id="fix8.dependencies.getopt" version="1.0.20151130.1" targetFramework="native" />
  <package id="libiconv" version="1.14.0.11" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.11" targetFramework="native" />
  <package id="libimobiledevice" version="1.2.1.192" targetFramework="native" />
  <package id="libimobiledevice.redist" version="1.2.1.192" targetFramework="native" />
  <package id="libplist" version="2.0.1.171" targetFramework="native" />
  <package id="libplist.redist" version="2.0.1.171" targetFramework="native" />
  <package id="libzip" version="1.1.2.7" targetFramework="native" />
  <package id="libzip.redist" version="1.1.2.7" targetFramework="native" />
  <package id="openssl" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>